{{{template 'partials/slideshow'}}}
{{!-- <section class="download bg-primary text-center" id="download">
  <div class="container">
    {{#region 'highlighted'}}{{/region}}
  </div>
</section> --}}

<div id="sysMessagesArea">{{{we-messages}}}</div>

<div id="content" role="main">{{{body}}}</div>

{{#region 'afterContent'}}{{/region}}
