<form class="form-inline" method="post">
  <div class="form-group">
    <label>Email:</label>
    <input type="email" name="email" value="{{req.body.email}}" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Search</button>
  </div>
</form>