{{#link-to 'vocabulary.item' record.id class="btn btn-default btn-sm"}}
  <i class="glyphicon glyphicon-pencil text-success"></i>
  {{t 'Edit'}}
{{/link-to}}

{{#link-to 'vocabulary.item.terms' record.id class="btn btn-default btn-sm"}}
  {{t 'term.find'}}
{{/link-to}}

<button {{action 'deleteRecord' record}} type="button" class="btn btn-default btn-sm">
  <i class="glyphicon glyphicon-remove text-danger"></i>
  {{t 'Delete'}}
</button>